# --- Core Framework & Web ---
fastapi
uvicorn[standard]
python-dotenv
SQLAlchemy
python-multipart
starlette
pydantic
pydantic-core
ultralytics
ultralytics-thop
opencv-python-headless
numpy
pandas
scipy
pillow
celery
redis
requests
urllib3
psutil
tqdm
pyyaml
jinja2
anyio
certifi
charset-normalizer
idna
sniffio
lapx>=0.5.5